functions/node_modules/
functions/
npm-debug.log
node_modules/

# Firebase
# Ignore Firebase emulator data, logs, and project-specific aliases
.firebase/
firebase-debug.log
.firebaserc

# Environment variables
.env
.env.*
*.env

# Operating System files
.DS_Store
Thumbs.db

# Editor directories and files
# For editors like VS Code and WebStorm
.vscode/
.idea/

# Firebase
firebase-debug*.log
firestore-debug*.log

# Ignore test case directory and all contents
test/